body{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.fa-solid{
  cursor: pointer;
}

/* HEADER */
header, .central{
  background-color: #F8F9FA;
}

header{
  height: 80px;
}

header [class^="container"]{
  background-color: white;
}

.search-bar, form, .form-control{
  background-color: #E5E5E5;
}

header div:last-child{
  color: #5B5858;
}

header .logo-phone{
  width: 30px;
  height: 30px;
}

/* MAIN */
body main .central{
  overflow: auto;
  width: calc(100vw - 80px);
}

/* SIDEBAR */
.sidebar{
  background-image: url(img/img/sidebar-bg.png);
  background-color: #051E34;
  height: calc(100vh - 80px);
  width: 80px;
}

.sidebar ul li:hover{
  cursor: pointer;
  background-color: gray;
}

/* SEZIONE BLU */
.main-menu{
  background-color: #1B72E8;
}

.fa-plus{
  border: 1px solid white;
  padding: 10px;
  margin-left: 15px;
  border-radius: 5px;
}

.fa-plus:hover{
  background-color: white;
  color: #1B72E8;
}

.central .offcanvas{
  width: 100%;
}

.offcanvas form, .offcanvas form input{
  background-color: white;
}

.course-name, .student-number{
  font-size: 1.7rem;
}

.blue-border{
  cursor: pointer;
  background-color: #165BBA;
  border-radius: 15px;
  padding: 5px 10px;
}

.blue-border:hover{
  cursor: pointer;
  background-color: #051E34;
}

/* SEZIONE CARD */
.card-header{
  font-weight: bold;
}

/* TABELLA */
table button{
  padding: 3px 8px;
  color: rgb(134, 131, 131);
  border-radius: 5px;
}

table button:hover{
  background-color: white;
}

table tr td:nth-child(2), table tr td:nth-child(3){
  display: none;
}

table th:first-child, tr td:first-child{
  width: 50%;
}

table tr td img{
  width: 25px;
  margin-right: 10px;
}

.done{
  background-color: #198754;
}

.failed{
  background-color: #DC3646;
}

.process{
  background-color: #FFC107;
}

.done, .failed, .process{
  padding: 3px 5px;
  border-radius: 10px;
  color: white;
}



/* RESPONSIVE */
@media screen and (min-width: 1200px){
  .sidebar{
    width: 150px;
  }

  .central{
    width: calc(100vw - 150px);
  }

  .central .offcanvas{
    width: 50%;
  }
}

@media screen and (min-width: 768px){
  table tr td:nth-child(2), table tr td:nth-child(3){
    display: table-cell;
  }
}